<div class="row col-md-12">
	<div class="col-md-6">
		<div class="card mb-4 shadow-sm" *ngIf="randomImageUrl$ | async as imageInfo">
			<img class="img-card" [src]="imageInfo.url" alt="Image not aloaded">
		</div>
	</div>
	<div class="col-md-4 jumbotron text-center">
		<button class="btn btn-primary my-2" (click)="getRandomImage()">Change
			Image</button>
		<p>
			The Lorem Ipsum for photos.</p>
		<p>Easy to use, stylish placeholders</p>
		<p>Just add your desired image size (width & height) after our URL, and
			you'll
			get a random image.
		</p>
		<p>
			You can find a list of all the images here
		</p>
		<a [routerLink]="['/gallery']" class="btn btn-primary my-2"
			(click)="getRandomImage()">Gallery</a>
	</div>
</div>